@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*
{
    box-sizing: border-box;
}

body{
    /* height: 100%;
    width: 100%; */
    font-family:  Roboto, sans-serif;
    background-color: rgb(210, 242, 249);
}
h2{
    text-align: center;
}
.box{
 
    border: solid 3px rgb(231, 231, 231);
    min-height: 350px;
    width: 450px;
    margin: auto;
    margin-top: 5%;
    /* height: 250px;
    width: 500px; */
    padding: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 0px;
    box-shadow: 0px 0px 10px rgb(259, 259, 259);
}

 .box input{
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0px;
    border: solid 1px rgb(177, 239, 245);
}
.box #subnitButton{
    border : none;
    width: 100%;
    padding: 12px 0px;
    margin: 10px 0px;
    background-color: rgb(42, 64, 231);
    color: white;
}
.box #subnitButton:active{
    background-color: rgb(109, 245, 75);
}